<!DOCTYPE html>
<html>
  <head>
    <title>Musicians</title>
    <link rel="stylesheet" type="text/scss" href="musicianspitch.scss">

  </head>

  <body>
    <script>

    $(function(){
    $('.carousel').carousel();
});
    </script>

    <div class='sellingline'>
      <h1>Why choose Play My Party?</h1>
      <p>
        Play My Party helps show case a Musicians musical talent with just a click of a button.
      </p>
    </div>



    <div class='container_images'>
      <div class='image'>
        <%= image_tag "dj1.jpg"%>
      </div>
      <div class='overlay'>
        <div class='text'>
          <p>DVBBS Veld, August 2016 </p>
        </div>
      </div>
    </div>

    <div class='container_images'>
      <div class='image'>
        <%= image_tag "band1.jpg"%>
      </div>
      <div class='overlay'>
        <div class='text'>
          <p>United Molsen Amphitheatre, June 2015</p>
      </div>
      </div>
    </div>

    <div class='container_images'>
      <div class='image'>
        <%= image_tag "dj2.jpg" %>
      </div>
      <div class='overlay'>
        <div class='text'>
          <p>Shawn Frank Coda, March 2017</p>
        </div>
      </div>
    </div>

    <div class='p2'>
    <h3>
    How will Play My Party help my career?
    </h3>
    <p>
    As a Musician, you simply create an account that displays your musical talent. You choose the type of genre you play, the distance you are willing to travel and your hourly rate.
    Your profile will now be shown in our Musician database.
    Currently our Musicians on average get 4-5 invites a day to play an Event.
    A majority of our Musicans choose to play 1-3 events per week.
    </p>
    </div>

    <div class='titles'>
    <h2>
    Play the show you want to play. You are in control of future events!
    </h2>
    <h3>
    Welcome to the Moving Music family.
    </h3>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide slideposition" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="d-block w-100" src="/assets/band1.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>hjfgskfgsdk</h5>
            <p>Spicy jalapeno bacon ipsum dolor amet ribeye ham frankfurter capicola. Pancetta porchetta shankle cow leberkas, turkey short ribs jowl pork chop pig shoulder. Biltong jerky burgdoggen boudin drumstick strip steak, pig tail brisket beef short ribs shank. Bacon prosciutto pork turkey pork chop ham meatloaf shankle meatball pig corned beef boudin spare ribs kielbasa jerky.</p>
          </div>
        </div>
        <div class="item">
          <img class="d-block w-100" src="/assets/dj1.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img class="d-block w-100" src="/assets/dj2.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </body>

</html>
