<h2>Why choose Moving Music?</h2>

<p>
  Moving Music helps show case a Musicians musical talent with just a click of a button.

  How will Moving Music help my career?
  As a Musician, you simply create an account that displays your musical talent. You choose the type of genre you play, the distance you are willing to travel and your hourly rate.

  Your profile will now be shown in our Musician database.

  Currently our Musicians on average get 4-5 invites a day to play an Event.
  A majority of our Musicans choose to play 1-3 events per week.

  Play the show you want to play. You are in control of future events!

  Welcome to the Moving Music family.

  User: Xo
  I've been getting many notification bookings popping up "Come play at my Jazz event", It’s funny too because realistically I don’t actively promote my Jazz band. With Moving Music I get 4-5 invites per day, I can't imagine my life without Moving Music.

  User: Monsta X
  I'm a new Dj getting into the scene. I didn't know how to get my name out there but with Moving Music I now get bookings from bars all over the GTA.

  User: K'Pop
  I'm a Korean pop singer trying to break out into the Toronto music scene. Before Moving Music I would get maybe 1-2 events per month, since I started using Moving Music I get 3-5 Korean Pop events per month. I also love that their is no membership. Moving Music was very as to navigate.

</p>
