<p><strong>Item: </strong><%= @equipment.category %></p>
<p><strong>Details: </strong><%= @equipment.details %></p>
<p><strong>Cost to include: </strong>$<%= @equipment.price %></p>
<!-- <%= link_to 'Remove', user_equipment_path(@equipment), method: :delete %> -->
