

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>


<button id="latlng_musicians"  type="button" name="button">This button does things</button>
<button id="make_marker" type="button" name="button">Make da mahka</button>
<button id="make_circle" type="button" name="button">Make da circle</button>
