

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcNr3L8XYiOH0E81G4w_6OJjgrmNCqQrU&libraries=places&callback=initAutocomplete"
         async defer></script>


<button id="latlng_musicians"  type="button" name="button">This button does things</button>
<button id="make_marker" type="button" name="button">Make da mahka</button>
<button id="make_circle" type="button" name="button">Make da circle</button>
