<section class='home'>

  <div class='layout-background'>
    <div class='home-section'>
      <h2>Are you a?</h2>

      <div class='home-links'>
        <a class='client' href="users/">Client</a>
        <a class='musician' href="musicians/">Musician</a>
      </div>
    </div>  
  </div>
</section>
