<section class='index-musicians clearfix'>

  <% @users.each do |user| %>
      <div class='musicians'>

        <a href="<%="/users/#{user.id}"%>"></a>
        <h2><%= user.stage_name %> </h2>
        <div class='musician-image'>
          <img src="<%=user.profile_picture%>" alt="">
        </div>
        <div class='musician-bio'>
          <h3>Biography</h3>
          <p class='bio-paragraph'>
            <%= user.bio %>
          </p>
        </div>
      </div>
  <% end %>
</section>
