<section class='index-musicians'>
  <% @users.each do |user| %>
      <div>
        <h2><%= user.stage_name %> </h2>
        <div class='musician-image'> <%= link_to(image_tag(user.profile_picture), "/users/#{user.id}") %></div>
      </div>
  <% end %>
</section>
