.new-booking input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.new-booking {
  max-width: 600px;
  margin: 0 auto;
  label {
    font-size: 20px;
  }
}

.find-musicians h3 {
  color: pink;
}

.view-profile {
  color: black;
}

.new-booking input[type=radio] {

}

.new-booking input[type=checkbox] {
  width: 40px;
  padding: 0;
  margin: 0;
}

.genre-checkbox label {

}

.partial-profile-container {
  min-height: 300px;
  background-color: #f1f1f1;
  width: 31.33%;
  float: left;
  margin: 1%;
  position: relative;
  a {
    color: black;
    background-color: orange;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
  }
  input[type=submit] {
    background-color: orange;
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.view-profile {
  position: absolute;
  right: 0;
  top: 0;
}

.profile-details-show, .profile-details-hide {
  position: absolute;
  top: -6px;
  left: 0;
}

.profile-picture-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  display: none;
}



// GOOGLE MAPS api
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map_container_new_no_musician {
  width: 600px;
  height: 400px;
  margin-bottom: 35px;
}

#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.musician-results {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}
