// ALL STYLE RULES FOR THE HEADER
header {
  position: fixed;
  top:0;
  height: 50px;
  width: 100%;
  padding: 7px;
  border-bottom: 2px solid $black;
  margin-bottom: 10px;
  box-shadow: 0 0 4px $dark_grey;
  transition: all 0.25s;
  background-color: $white;

  .logo {
    width: 20%;

    .pmplogo, h1 {
      float: left;
    }

    .pmplogo {
      width: 24px;
      img {
        width: 100%;
      }
    }
    h1 {
      display: inline;
      width: 85%;
      padding-left: 4px;
    }
  }

  nav {
    float: right;
    width: 80%;
    padding-left: 20px;

    a, .search {
      display: inline-block;
      padding: 3px 15px;
    }

    form {
      display: inline-block;
      width: 70%;
    }

  }

  .flash {
    clear: both;
  }

}
