#home-main {
  width:100%;
  padding:0;
  margin:50px 0 0;
  max-width:100%;
  overflow:hidden;

  .hp-link-left,  .hp-link-right  {
    width:50%;
    margin:0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:600px;
    display:inline-block;
    padding:150px 50px;
    color:$white;
    font-size:36px;
    text-transform:uppercase;
    font-weight:800;
    transition: 0.25s all;

    &:hover {
      transform:scale(1.15);
      // transition: 0.25s all;
      font-weight:800;
    }
  }

  .hp-link-left {
    float:left;
    background-image: url(organizer.jpg);
    text-align:right;
  }

  .hp-link-right {
    float:right;
    background-image: url(musician.jpg);
  }
}
