.layout-links a {
  text-decoration: none;
  color: black;
  float: left;
  padding: 20px 30px;
}
.login input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.login .container {
  width: 300px;
}
.login label {
  font-size: 20px;
}
