

h1 {
  color: black;
  text-align: center;

}

.p2 {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.sellingline p {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.container {
  position: relative;
  width: 50%;
}
.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 45%;
  transition: .5s ease;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


.userreview {
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  border-spacing: 15px;
  border-radius: 25px;
  height: 50px;


}

.u1 {

  border: 2px solid #A9A9A9;
  width: 31%;
  margin: 5px;
  float: left;
  padding: 5px;
  background: lightgrey;
  height: 180px;
}

.u2 {

  border: 2px solid #A9A9A9;
  width: 31%;
  margin: 5px;
  float: left;
  padding: 5px;
  background: lightgrey;
  height: 180px;
}

.u3 {

  border: 2px solid #A9A9A9;
  width: 31%;
  margin: 5px;
  float: left;
  padding: 5px;
  background: lightgrey;
  height: 180px;
}
