

h1 {
  color: black;
  text-align: center;

}


.sellingline p {
  text-align: center;
  padding-top: 4px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.container_images {
  position:
   relative;
  width: 50%;
  width: 31%;
  margin: 5px;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  height: 180px
}
.container_images:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.image {
  display: block;
  width: 150%;
  height: 120px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #A9A9A9;
  overflow: hidden;
  width: 0;
  height: 45%;
  transition: .5s ease;
}

.p2 {
  padding-top: 260px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 4px;

}

.titles {
  padding-top: 4px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  border-spacing: 15px;
  border-radius: 25px;
  height: 50px;
}

 h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

  h5 {
  text-align: center;
  }

  .slideposition {
    margin: auto;
    width: 40%;
    padding-top: 30px;
  }
