.new-booking {
  #map_container_new_no_musician, h2, h3, p {
    width: 60%;
    margin: 20px auto;
  }

  #map {
    height: 450px;

    #pac-input {
      left: 20px;
      top: 20px;
      width: 50%;
      padding: 10px;
    }
  }
}

// STYLES FOR THE LIST OF MUSICIANS FOUND
// ADDING CLASSES FROM MUSICIAN INDEX TO STYLE THE SAME WAY

#found_musicians_container {
  clear: both;
}

.found-musicians-container, .index-musicians {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.found-musicians-container, .index-musicians {
  .partial-profile-container{
    width: 50%;
    text-align: center;
    margin:30px 0;

    img {
      border-radius:50%;
      margin:15px 0;
      width:200px;
      height:200px;
    }

    .partial-profile-details {
      height:211px;
      padding:20px;
      margin-bottom:20px;
      overflow:scroll;
    }

    .partial-profile-buttons {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;

      .partial-profile-light-buttons {
        display: flex;
        flex-direction: row;
        a {
          flex: 1;
          margin: 0 4%
        }
      }
    }

    form {
      width: 100%;
    }

    .book-me {
      margin: 4px auto;
      width: 92%;
    }
  }
}

// ADDITIONAL STYLES FOR bookings/new.html.erb and confirm.html.erb

#bookings_confirmation, #bookings_new {
  .equipment_booking {

    legend {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .form-check2 {
      margin-top: 5px;
      display: flex;
      justify-content: space-around;

      .checkmark{
        flex: 1;
        height: 13px;
      }

      label {
        flex: 3;
      }

      .equipment-details {
        flex: 5;
      }

      .equipment-cost {
        flex: 3;
      }

    }
  }
}
