* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

img {
  width:100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
