// ALL STYLE RULES RELATED TO FONTS AND TEXT

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: $black;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $black;
}
