.index-musicians h2{
  text-align: center;
}
.musician-image {
  width: 70%;
  margin: 0 auto;
}

.musicians {
  position: relative;
}

.musicians a {
width:100%;
height:100%;
position:absolute;
z-index:2;
top:0;
left:0;
}

.musicians:hover {
  background-color: rgba(200, 200, 200, 0.7);
}

.user-show h1 {
  text-align: center;
  font-size: 30px;
}

.book-button {

  a {
    text-decoration: none;
    color: black;
    background-color: royalblue;
    padding: 10px 20px;
    font-weight: bold;
  }
}

.login input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.login {
  width: 400px;
}

// Signup form ******************

.new_user input[type=text],
.new_user input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.new_user input[type=submit] {
  background-color: orange;
  padding: 10px 20px;
  margin-top: 20px;
}

.new_user input[type=radio]{
}

.new_user label {
  font-size: 20px;
  font-weight: bold;
}

.radio-buttons label {
  margin: 0;
}

.signup-button input {
  color: white;
  background-color: orange;
  text-transform: uppercase;
  font-size: 15px;
}

.signup-form input[type=text],
.signup-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.signup-form input[type=submit] {
  background-color: orange;
  padding: 10px 20px;
  margin-top: 20px;
}

.signup-form input[type=radio]{
}

.signup-form label {
  font-size: 20px;
  font-weight: bold;
}

#user_bio {
  width: 100%;
  min-height: 100px;
}

.musician-pending-bookings button {
  text-transform: uppercase;
  width: 120px;
  height: 30px;
  font-size: 20px;
  margin-top: 20px;
}

.edit-profile {
  float:left;
}
.updatepassword {
  float:left;
  margin-left: 20px;
}

.edit-profile a{
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: orange;
}
.updatepassword a{
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: orange;
}

#past_bookings a {
  color: black;
  padding: 10px 20px;
  background-color: orange;
  text-decoration: none;
}

.edit_user {
  width: 400px;
}

.edit_user input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

@media(min-width:480px){
  .form-wrapper{
    max-width: 800px;
    margin: 50px auto;
  }
  .musicians {
    width: 30%;
    float: left;
    background-color: #f1f1f1;
    margin: 1%;
  }
  .musician-image {
    float: left;
    width: 30%;
    margin: 0;
  }
  .musician-bio {
    float: left;
    width:60%;
    h3 {
      text-align: center;
    }
    p {
      padding-left: 10%;
    }
  }
  .index-musicians {
    margin-top: 50px;
  }

  .musician-picture {
    width: 30%;
    float: left;
  }

  .user-show h1 {
    font-size: 50px;
  }

  .artist-info {
    margin-left: 10%;
    width: 60%;
    float:left;
  }
  .musician-pending-bookings {
    margin-left: 10%;
    width: 60%;
    float:left;
  }
  .musician-confirmed-bookings {
    width: 60%;
    float: left;
  }
  .reviews {
    margin-left: 10%;
    width: 30%;
    float: left;
  }
  #review_comment {
    width: 100%;
    min-height: 100px;
  }

  .form-wrapper {
    width: 400px;
    margin: 0 auto;
  }

  .form-wrapper input[type=checkbox]{
    margin: 10px;
  }
}
// Client show page
.client-picture {
  width: 30%;
  float: left
}

.client-info {
  float: left;
  margin-left: 10%;
  width: 60%;
}

.bookings {
  width: 60%;
  float: left;
  margin-left: 10%;
}

.client-buttons {
  width: 60%;
  float: left;
  margin-left: 10%;
}

.client-buttons .edit-profile{
  margin: 0;
}

.client-buttons .updatepassword {

}


// GOOGLE MAPS api

// GOOGLE MAPS api
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width: 700px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
